.loading-inner {
    width: 180px;
    height: 180px;
    background-color: #d0f4ff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.loading-inner::before {
    content: "Loading";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #10a7b9;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.loading-inner::after {
    content: '';
    width: 100%;
    height: 25%;
    background-image: linear-gradient(to top, #12c8e0, #36e9ff, #5ffbf1);
    position: absolute;
    bottom: 0;
    animation: loadingRun 5s ease-in-out infinite;
}

@keyframes loadingRun {
    0% {
        height: 25%;
    }
    100% {
        height: 100%;
    }
}

.loading-cover::before {
    content: '';
    position: absolute;
    left: -50%;
    z-index: 10;
    width: 200%;
    height: 200%;
    background-color: #85f7fb;
    border-radius: 52% 25% 62% 69% / 25% 38%;
    animation: loadingWave 5s linear infinite;
}

.loading-cover::after {
    content: '';
    position: absolute;
    left: -50%;
    z-index: 20;
    width: 200%;
    height: 200%;
    background-color: #d0f4ff;
    border-radius: 42% 38% 40% 62% / 48% 35%;
    animation: loadingWave 5s linear infinite;
}

@keyframes loadingWave {
    0% {
        top: -100%;
        transform: rotate(0);
    }
    100% {
        top: -200%;
        transform: rotate(360deg);
    }
}