::selection {
  background: rgba(51, 112, 255, 0.34);
  height: 120%;
}

* {
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  filter: grayscale(50%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0.5);
}
