.mainarticles {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.mainarticles_fullpage {
  height: 100vh;
  width: 100vw;
}

.article {
  height: 100vh;
  width: 100vw;
  font-size: 50px;
  display: flex;
  align-items: center;
}

.circle {
  margin: 0px 50px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  animation: fade-in;
  animation-duration: 1s;
  -webkit-animation: fade-in 1s;
}

.circle_img {
  margin: 0px 50px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  backface-visibility: hidden;
  animation: fade-in;
  animation-duration: 1s;
  -webkit-animation: fade-in 1s;
  background-repeat: no-repeat;
  -moz-background-size: 100% 100%;
  background-size: cover;
  background-position: center center;
  /* GPU */
  transform: translateZ(0);
}

.circle:hover,
.circle_img:hover {
  width: 600px;
  height: 600px;
  border-radius: 40%;
  margin: 0 50px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  animation: fade-bigger;
  animation-duration: 1.5s;
  -webkit-animation: fade-in 1.5s;
  /* GPU */
  transform: translateZ(0);
}

.circle_img_fullscreen {
  width: 100vw;
  height: 100vh;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  -moz-background-size: 100% 100%;
  background-size: cover;
  background-position: center center;
  animation: fade-in;
  animation-duration: 2s;
  -webkit-animation: fade-in 2s;
  /* GPU */
  transform: translateZ(0);
}

.circle_left {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  transform: translateX(50px);
}

.circle_right {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  transform: translateX(-50px);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.circle_left_fs {
  &:extend(.circle_left);
  transform: translateX(0px) !important;
}

.circle_right_fs {
  &:extend(.circle_right);
  transform: translateX(0px) !important;
}

.fade-in-circle {
  visibility: hidden;
  background-color: bisque;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  animation: fade-in;
  animation-duration: 1.5s;
  -webkit-animation: fade-in 1.5s;
}

.articleBrief {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
  animation: fade-in;
  animation-duration: 1.2s;
  -webkit-animation: fade-in 1.2s;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.fullscreen_inner {
  background: rgb(255, 255, 255, 1);
  filter: blur(5px);
  position: absolute;
  top: 0;
  z-index: -1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.fullscreen_inner_null {
  position: relative;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  40% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  40% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-bigger {
  0% {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
  }

  40% {
    width: 600px;
    height: 600px;
    border-radius: 40%;
    object-fit: cover;
  }

  100% {
    border-radius: 25%;
  }
}
